/* FONT IMPORT LINKS */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap'); /* 'Libre Caslon Text' */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

/* STYLES */

*{
    margin: 0px;
    font-family: 'Maven Pro', sans-serif;
}
/*------------
 HEADER & NAV
-------------*/
header{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container{
    width: 70%;
    display: flex;
    justify-content: start;
}
nav{
    padding: 5px,0px,5px,0px;
    display: flex;
}
#apl-logo{
    height: 20px;
    width: 20px;
    margin: 5px,0px,5px,0px;
}
.apple-title{
    font-family: 'maven Pro', sans-serif;
    font-weight: 600;
    color: rgb(180, 180, 180);
    margin-left: 10px;
}

/*------------
BODY SECTION
------------*/
main{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 70px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
#left-section{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#mac-image{
    width: 100%;
    object-fit:contain;
}
/*-------------------------------------
 RIGHT SIDE PRODUCT INFORMATION SECTION
------------------------------------ */
#right-section{
    width: 45%;
}
.product-name{
    font-size: 40px;
    font-family: 'Libre Caslon Text';
    margin-top: 15px;
}
.product-description{
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 33px;
}
.memory{
    margin-top: 16px;
    margin-bottom: 24px;
}
.storage{
    margin-top: 16px;
    margin-bottom: 24px;}
.shipping{
    margin-top: 16px;
    margin-bottom: 40px;}
.specialize{
    font-size: 24px;
    margin-bottom: 5px;
}
hr{
    color: rgba(0,0,0,0.8);
}

/*----------------------
 COST SUMMERRY & PRICE
---------------------- */
.cost-summery{
    margin-top: 32px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}
.cost{
    font-size: 20px;
    font-weight: 500;
    color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    background-color: rgba(0, 0, 0, 0.100);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 10px;
}
.total-cost{    
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 40px;
    border-color: rgba(0, 0, 0, 0.150);
    border-style: solid;
    box-shadow: inset 0px 0px 0px 5px rgba(0, 0, 0, 0.150);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 10px;
}
/*---------------------
    COUPON SECTION
-------------------- */
.coupon-code-title{
    font-size: 24px;
    margin-top: 32px;
}
.coupon-code-submit{
    display: flex;
    align-items: center;
}
.coupon-code-input{
    outline-style: none;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 3px;
    border-radius: 10px;
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.coupon-code-input::-webkit-input-placeholder { /* Edge */
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
  }
.coupon-apply{
    font-size: 24px;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
    border-style: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 20%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.coupon-apply:hover {
    font-size: 24px;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
    border-style: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 20%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.coupon-apply:focus {
    outline: solid transparent;
    box-shadow: 0 0 0 2px #fff, 0 0 0 5px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
.coupon-apply:active {
    transform: translateY(1px);
    filter: saturate(150%);
}
/*------------------------------
 BOTTOM BOLD TOTLA PRICE SECTION
----------------------------- */
.bottom-container{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
#bottom-total{
    font-size: 40px;
    font-family: 'Libre Caslon Text';
    margin-top: 15px;
}
/*---------------------
 PRODUCT OPTION BUTTONS
-------------------- */
.customize{
    font-size: 18px;
    font-weight: 600;
    color: #5a5a5a;
    border-radius: 10px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.150);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
.customize:hover {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 10px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
.customize:focus {
    outline: solid transparent;
    box-shadow: 0 0 0 2px #fff, 0 0 0 5px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
.customize:active {
    transform: translateY(1px);
    filter: saturate(150%);
}
